*~
*.o
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/com.endlessm.AppManager.conf
data/com.endlessm.AppManager.service
data/com.endlessm.app-installer.rules
data/eam-default.cfg
data/eos-app-manager.service
depcomp
install-sh
libtool
ltmain.sh
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
po/Makefile.in.in
po/POTFILES
po/eam.pot
po/stamp-it
src/eam
src/eam-resources.c
stamp-h1
tests/cfg
tests/pkg
tests/rest
tests/scripts
tests/spawner
tests/updates
tests/version
tools/eos-select-app-server
tools/wclient
