polkit.addRule(function(action, subject) {
    if (action.id.indexOf("com.endlessm.app-installer.") == 0 &&
        subject.active == true && subject.local == true &&
        subject.isInGroup("adm")) {
        return polkit.Result.YES;
    }
});
